body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    margin: 20px;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Adicione essas regras no final do arquivo styles.css */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    max-width: 800px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer {
    position: relative;
}
